bar {
  # workspace_command python3 -u ~/.config/i3/include/ws.py
  status_command i3blocks -c ~/.config/i3blocks.conf
  font "pango:Droid Sans, FontAwesome 9"
  tray_output primary
  tray_output DP-1
  tray_output eDP-1
  colors {
    separator #969896
    background #1d1f21
    statusline #c5c8c6
    focused_workspace #81a2be #81a2be #1d1f21
    active_workspace #373b41 #373b41 #ffffff
    inactive_workspace #282a2e #282a2e #969896
    urgent_workspace #cc6666 #cc6666 #ffffff
  }
}
