new_window normal 5

# assign applications to specific workspaces
assign [instance=i3test] workspace testing
assign [class=Thunderbird] workspace 10
for_window [class=Spotify] move to workspace number 14

for_window [window_role=GtkFileChooserDialog] floating disable
for_window [title=Guake] floating enable
for_window [title="(?i)Torrent Options"] floating disable
for_window [title="(?i)Torrent Options"] [class="Transmission-gtk" title=Transmission] mark _x, [title="(?i)Torrent Options"] move to mark _x
for_window [title="Xephyr on :50.0"] floating disable
for_window [class=Gsimplecal] move position mouse
