new_window normal 5

# assign applications to specific workspaces
assign [instance=i3test] workspace testing
assign [class=Thunderbird] workspace 10
assign [class=Slack] workspace 10
for_window [class=Spotify] move to workspace number 14

for_window [window_role=GtkFileChooserDialog] floating disable
for_window [title=Guake] floating enable
for_window [title="Xephyr on :50.0"] floating disable
for_window [class=Gsimplecal] move position mouse

for_window [class=Slack window_type=normal] mark s
for_window [class=jetbrains-goland window_type=normal] mark g

for_window [title="^(?!Zoom Meeting)(Licensed Account).*$" class="zoom"] floating enable, move position 0 px 0 px, border none
for_window [title="Licensed Account" class="zoom"] move to workspace zoom
for_window [title="Zoom Meeting" class="zoom"] mark z
no_focus [class="zoom"]
