[user]
	name = Orestis Floros
    email = orestisf1993@gmail.com
[color]
    ui = true
[diff]
    tool = meld
[format]
    pretty = oneline
[credential]
    helper = /usr/lib/git-core/git-credential-gnome-keyring
[merge]
	conflictStyle = diff3
[rerere]
    enabled = true
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    find = "!git ls-files | grep -i"
    grep = grep --break --heading --line-number
    s = status -sb
    c = commit --verbose
    last = log -1 HEAD --pretty=fuller
    home = rev-parse --show-toplevel
    rpr = "!f() { git rebase --autosquash -i $(git merge-base $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') $(git rev-parse --abbrev-ref HEAD)); }; f"
[grep]
    extendRegexp = true
    lineNumber = true
[url "https://aur.archlinux.org/"]
    insteadOf = aur://
[log]
    decorate = auto
[bz]
	browser = firefox3
[commit]
	verbose = true
