[user]
	name = Orestis Floros
    email = orestisf1993@gmail.com
	signingkey = E9AD9F32E401E38F
[color]
	ui = true
[diff]
    tool = meld
[format]
    pretty = oneline
[credential]
    helper = /usr/lib/git-core/git-credential-gnome-keyring
[merge]
	conflictStyle = diff3
[rerere]
    enabled = true
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    find = "!git ls-files | grep -i"
    grep = grep --break --heading --line-number
    s = status -sb
    c = commit --verbose
    last = "!f() { git log -1 --pretty=fuller ${1-HEAD}; }; f"
    home = rev-parse --show-toplevel
    rpr = "!f() { git rebase --autosquash -i $(git merge-base $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') $(git rev-parse --abbrev-ref HEAD)); }; f"
    fetchpr = "!f() { git fetch ${2-origin} pull/$1/head:pr-$1; }; f"
    d = diff \
      --minimal \
      --word-diff=color \
      --word-diff-regex='([0-9@A-Za-z]+|[^0-9@A-Za-z()]+|[()])'
[grep]
    extendRegexp = true
    lineNumber = true
[url "https://aur.archlinux.org/"]
    insteadOf = aur://
[log]
    decorate = auto
[bz]
	browser = firefox3
[commit]
	verbose = true
	gpgsign = true
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
