[MESSAGES CONTROL]
# Disable the following PyLint messages:
# W0142 - Used * or ** magic
# E1101 - Has no member (countless false-positives)
disable-msg=W0142,E1101

[REPORTS]
# set the output format. Available formats are text, parseable, colorized and
# html
output-format=colorized

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
# FIXME -- something which needs fixing
# TODO  -- future plan
# XXX   -- some concern
# YYY   -- comment/answer to above mentioned concern
notes=FIXME,TODO,XXX,YYY
jobs=6

msg-template='{msg_id}{module}{obj}{line}{column}{msg}'

max-line-length=120

