{{- if eq .chezmoi.hostname "carbon" -}}
# Managed by chezmoi: ~/.local/share/root-staging → /etc/tlp.d/10-dotfiles.conf

CPU_ENERGY_PERF_POLICY_ON_AC=performance
CPU_HWP_DYN_BOOST_ON_AC=1
CPU_HWP_DYN_BOOST_ON_BAT=0

START_CHARGE_THRESH_BAT0=75
STOP_CHARGE_THRESH_BAT0=80
{{- end }}
