# pkgsync dependencies
chezmoi
paru
python
xdg-terminal-exec
yad
-zenity

# Bootstrap dotfiles
base-devel
git
go
pacman-contrib
pkgfile
pre-commit
shfmt

# Shell
zsh
zsh-autosuggestions
zsh-completions
zsh-history-substring-search
zsh-syntax-highlighting

# Utilities
atuin
bat
bc
btop
curl
entr
eza
fd
fzf
git-absorb
git-delta
git-filter-repo
github-cli
glow
-mdcat
htop
ipython
jq
moreutils
neovim
parallel
python-pipx
ripgrep
tig
tldr
tmux
trash-cli
tree
wget
yt-dlp
zoxide
# hostname
inetutils

# Archives
7zip
unrar
unzip
zip

# Dev toolchain
bear
ccache
clang
cmake
npm
typescript

# Editor / language tooling
pyright
python-black
python-i3ipc
python-isort

# System / UI
blueman
bluez
bluez-utils
brightnessctl
cbatticon
ddcutil
gnome-keyring
gsimplecal
libnotify
mate-polkit
network-manager-applet
networkmanager
pamixer
pavucontrol
pipewire-pulse
playerctl
seahorse

# Apps
alacritty
evince
firefox
keepassxc
rofi
-wmenu
speedcrunch

# Yazi
baobab
ffmpegthumbnailer
mpv
ripdrag-git
ueberzugpp

# Replaced or unused
-colordiff
-neofetch
-net-tools

{{ if .elastic -}}
aws-cli-v2
firejail
rclone
restic
worktrunk
{{- end }}

{{ if .xorg -}}
alttab
asciidoc
cpanminus
dunst
hacksaw
i3-git
i3blocks-gaps-git
i3lock
light
materia-gtk-theme
numlockx
perl-anyevent
shotgun
unclutter
xbindkeys
xclip
xdotool
xkb-switch
xmlto
xorg-server
xorg-setxkbmap
xorg-xbacklight
xorg-xinit
xorg-xprop
xorg-xrandr
xorg-xrdb
{{- end }}

{{ if .wayland -}}
grim
gtklock
-swaylock
imv
ironbar
-waybar
ly
slurp
sway
sway-contrib
swaybg
swayidle
swaync
swayosd
-dunst
wl-clipboard

-alttab
-asciidoc
-cpanminus
-hacksaw
-i3-git
-i3blocks-gaps-git
-i3lock
-light
-materia-gtk-theme
-numlockx
-perl-anyevent
-shotgun
-unclutter
-xbindkeys
-xclip
-xdotool
-xkb-switch
-xmlto
-xorg-server
-xorg-setxkbmap
-xorg-xbacklight
-xorg-xinit
-xorg-xprop
-xorg-xrandr
-xorg-xrdb
{{- end }}
