set $my_browser_bind firefox-beta
set $my_browser bash -c '[[ "$DISPLAY" == ":0" ]] && [[ $XDG_VTNR -eq 1 ]] && firefox-beta'
set $my_file_manager i3-sensible-terminal -e ranger
set $my_alt_file_manager thunar

# button for alternative actions. Mod4 == win key
set $mod Mod4
#main button $mod button. Mod1 == Alt key
set $alt Mod1
