# set workspace names
set $tag1 "1:"
set $tag2 "2"
set $tag3 "3"
set $tag4 "4"
set $tag5 "5"
set $tag6 "6"
set $tag7 "7"
set $tag8 "8"
set $tag9 "9"
set $tag10 "10"
set $tage1 "e-1"
set $tage2 "e-2"
set $tage3 "e-3"
set $tage4 "e-4"

# switch to workspace
bindsym $mod+1 workspace $tag1
bindsym $mod+2 workspace $tag2
bindsym $mod+3 workspace $tag3
bindsym $mod+4 workspace $tag4
bindsym $mod+5 workspace $tag5
bindsym $mod+6 workspace $tag6
bindsym $mod+7 workspace $tag7
bindsym $mod+8 workspace $tag8
bindsym $mod+9 workspace $tag9
bindsym $mod+0 workspace $tag10
# F-keys to workspaces:
bindsym $mod+F1 workspace $tage1
bindsym $mod+F2 workspace $tage2
bindsym $mod+F3 workspace $tage3
bindsym $mod+F4 workspace $tage4

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace $tag1
bindsym $mod+Shift+2 move container to workspace $tag2
bindsym $mod+Shift+3 move container to workspace $tag3
bindsym $mod+Shift+4 move container to workspace $tag4
bindsym $mod+Shift+5 move container to workspace $tag5
bindsym $mod+Shift+6 move container to workspace $tag6
bindsym $mod+Shift+7 move container to workspace $tag7
bindsym $mod+Shift+8 move container to workspace $tag8
bindsym $mod+Shift+9 move container to workspace $tag9
bindsym $mod+Shift+0 move container to workspace $tag10
# F-keys to workspaces:
bindsym $mod+Shift+F1 move container to workspace $tage1
bindsym $mod+Shift+F2 move container to workspace $tage2
bindsym $mod+Shift+F3 move container to workspace $tage3
bindsym $mod+Shift+F4 move container to workspace $tage4
