# assign applications to specific workspaces
assign [class="(?i)telegram"] workspace number 9
assign [class="(?i)skype"] workspace number 9
assign [class="(?i)matlab"] workspace number 5
assign [instance="i3test"] workspace testing

# custom borders
new_window normal 5

for_window [class="Evince"] border normal 5
for_window [class="(?i)firefox"] border pixel 5
for_window [class="(?i)nightly"] border pixel 5
for_window [class="(?i)chromium"] border pixel 5
for_window [class="(?i)chrome"] border pixel 5
for_window [class="(?i)wine"] border none
for_window [class="(?i)i3-rofi-actions"] border none
for_window [instance="(?)sun-awt-X11-XDialogPeer"] border none

# manage floating for some window roles script to find out roles: https://faq.i3wm.org/question/2172/how-do-i-find-the-criteria-for-use-with-i3-config-commands-like-for_window-eg-to-force-splashscreens-and-dialogs-to-show-in-floating-mode/?answer=2174#post-id-2174
# open / save as etc... window
for_window [window_role="GtkFileChooserDialog"] floating disable
for_window [title="Weka GUI Chooser"] floating enable
for_window [title="(?i)guake"] floating enable
for_window [title="(?i)Torrent Options"] floating disable
for_window [title="Xephyr on :50.0"] floating disable

for_window [class="keepassxc" title="^(?!KeePassXC-Browser Confirm Access$)"] move scratchpad
