# assign applications to specific workspaces
assign [instance=i3test] workspace testing
for_window [class=Spotify] move to workspace number 10

# custom borders
new_window normal 5

# open / save as etc... window
for_window [window_role=GtkFileChooserDialog] floating disable
for_window [title=Guake] floating enable
for_window [title="(?i)Torrent Options"] floating disable
for_window [title="(?i)Torrent Options"] [class="Transmission-gtk" title=Transmission] mark _x, [title="(?i)Torrent Options"] move to mark _x
for_window [title="Xephyr on :50.0"] floating disable

for_window [class="keepassxc" title="KeePassXC$"] move scratchpad
for_window [class=Gsimplecal] move position mouse
