set $move-to move window to workspace number
# assign applications to specific workspaces
# (?i) stands for case-insensitive
for_window [class="(?i)firefox" window_role="browser"] $move-to 1
# Since the plugin renames firefox after the window is created, i3 can't move it.
for_window [title="(?i)selenium-scrapper-custom-name-yxh3sza5"] move to workspace selenium
for_window [class="(?i)chromium" window_role="browser"] $move-to 1
for_window [class="(?i)chrome" window_role="browser"] $move-to 1
for_window [class="(?i)telegram"] $move-to 9
for_window [class="(?i)skype"] $move-to 9
for_window [class="(?i)matlab"] $move-to 5

# custom borders
for_window [class=".*"] border normal
# Recommended by the i3-gaps doc but I didn't notice any major problems without it:
#for_window [class=".*"] border pixel 0
for_window [class="(?i)firefox"] border none
for_window [class="(?i)chromium"] border none
for_window [class="(?i)chrome"] border none
for_window [class="(?i)spotify"] border pixel 5
for_window [class="(?i)wine"] border none
for_window [title="(?i)angrysearch"] border none
for_window [class="(?i)i3-rofi-actions"] border none
for_window [instance="(?)sun-awt-X11-XDialogPeer"] border none

# manage floating for some window roles script to find out roles: https://faq.i3wm.org/question/2172/how-do-i-find-the-criteria-for-use-with-i3-config-commands-like-for_window-eg-to-force-splashscreens-and-dialogs-to-show-in-floating-mode/?answer=2174#post-id-2174
# open / save as etc... window
for_window [window_role="GtkFileChooserDialog"] floating disable
for_window [title="Weka GUI Chooser"] floating enable
for_window [title="(?i)guake"] floating enable
for_window [title="(?i)Torrent Options"] floating disable

for_window [class="keepassxc"] move scratchpad
