# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal
bindsym Control+Mod1+t exec i3-sensible-terminal

# bind calculator button
bindsym XF86Calculator exec $my_browser
bindsym XF86WWW exec $my_browser

# media / volume buttons
bindsym XF86AudioRaiseVolume exec --no-startup-id "pulseaudio-ctl up && pkill -RTMIN+1 i3blocks"
bindsym XF86AudioLowerVolume exec --no-startup-id "pulseaudio-ctl down && pkill -RTMIN+1 i3blocks"
bindsym XF86AudioMute exec --no-startup-id "pulseaudio-ctl mute && pkill -RTMIN+1 i3blocks"

bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym $mod+Next exec playerctl next
bindsym XF86AudioPrev exec playerctl previous
bindsym $mod+Prior exec playerctl previous

# brightness buttons
bindsym XF86MonBrightnessUp exec --no-startup-id xbacklight -inc +5
bindsym XF86MonBrightnessDown exec --no-startup-id xbacklight -dec +5

# start file manager
bindsym $alt+e exec --no-startup-id $my_file_manager
bindsym Control+$alt+e exec --no-startup-id $my_alt_file_manager

# Toggle onboard keyboard
bindsym $mod+Shift+o exec --no-startup-id dbus-send --type=method_call --dest=org.onboard.Onboard /org/onboard/Onboard/Keyboard org.onboard.Onboard.Keyboard.ToggleVisible

# open the link in the clipboard with mpv fullscreen
bindsym $mod+y exec mpv --fullscreen $(xclip -o)

# kill focused window
bindsym $mod+Shift+q kill

bindsym $mod+$alt+d exec angrysearch
bindsym $mod+d exec $HOME/bin/binaries-desktop-launcher.sh
bindsym $mod+Shift+d exec rofi -show run

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+z split h

# split in vertical orientation
bindsym $mod+v split v

# Switch border mode.
bindsym $mod+b border toggle
# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen
# global fullscreen: across all monitors
bindsym $mod+shift+f fullscreen toggle global

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# toggle borderless + sticky + floating
bindsym $mod+Control+space exec ~/bin/toggle-sticky.py

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+Shift+a focus child

# move back and forth between 2 workspaces
bindsym $mod+apostrophe workspace back_and_forth

# move the whole workspace to the next output
bindsym $mod+x move workspace to output right

bindsym $mod+Tab workspace next_on_output
bindsym $mod+Shift+Tab workspace prev_on_output

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec $HOME/bin/i3-rofi-actions

bindsym $mod+r mode "resize"

# bar
bindsym $mod+Shift+M bar mode toggle

# escrotum == screenshot
# --release will trigger the binding on keyrelease event
bindsym --release $mod+Shift+Print exec escrotum -s '%d-%m-%Y-%H-%M-%S_$wx$h_escrotum.png' -e 'mv $f ~/Pictures/Screenshots/'
bindsym --release Print exec escrotum '%d-%m-%Y-%H-%M-%S_$wx$h_escrotum.png' -e 'mv $f ~/Pictures/Screenshots/'
bindsym --release $mod+Print exec imgur-screenshot

bindsym --release $mod+p exec $HOME/bin/mpv-from-browser.sh

# Make the currently focused window a scratchpad
bindsym $mod+Shift+minus move scratchpad

# Show the first scratchpad window, exclude keepassxc since we only call it with a special keybind.
bindsym $mod+minus [class="^(?!keepassxc).+$"] scratchpad show

bindsym $mod+backslash [class="keepassxc"] scratchpad show
