# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
bindsym $mod+Return exec i3-sensible-terminal
bindsym Control+Mod1+t exec i3-sensible-terminal

# bind calculator button
bindsym XF86Calculator exec $my_browser_bind
bindsym XF86WWW exec $my_browser_bind

# media / volume buttons
bindsym XF86AudioRaiseVolume exec --no-startup-id "pulseaudio-ctl up && pkill -RTMIN+1 i3blocks"
bindsym XF86AudioLowerVolume exec --no-startup-id "pulseaudio-ctl down && pkill -RTMIN+1 i3blocks"
bindsym XF86AudioMute exec --no-startup-id "pulseaudio-ctl mute && pkill -RTMIN+1 i3blocks"

bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym $mod+Next exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous
bindsym $mod+Prior exec --no-startup-id playerctl previous

# brightness buttons
bindsym XF86MonBrightnessUp exec --no-startup-id light -A 10
bindsym XF86MonBrightnessDown exec --no-startup-id light -U 10

# start file manager
bindsym $alt+e exec --no-startup-id $my_file_manager
bindsym Control+$alt+e exec --no-startup-id $my_alt_file_manager

# kill focused window
bindsym $mod+Shift+q kill

bindsym $mod+d exec "rofi -modi combi -show combi -combi-modi window,drun"
bindsym $mod+Shift+d exec rofi -show run

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left 100
bindsym $mod+Shift+j move down 100
bindsym $mod+Shift+k move up 100
bindsym $mod+Shift+l move right 100

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left 100
bindsym $mod+Shift+Down move down 100
bindsym $mod+Shift+Up move up 100
bindsym $mod+Shift+Right move right 100

# split in horizontal orientation
bindsym $mod+z split h

# split in vertical orientation
bindsym $mod+v split v

# Switch border mode.
bindsym $mod+b border toggle
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# toggle borderless + sticky + floating
bindsym $mod+Control+space exec --no-startup-id ~/bin/toggle-sticky.py

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+Shift+a focus child

# move the whole workspace to the next output
bindsym $mod+x move workspace to output right

bindsym $mod+Tab focus mode_toggle
bindsym $mod+Shift+Tab workspace prev_on_output

# reload the configuration file
bindsym $mod+Shift+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec $HOME/bin/i3-rofi-actions

# bar
bindsym $mod+Shift+M bar mode toggle

# escrotum == screenshot
# --release will trigger the binding on keyrelease event
bindsym --release $mod+Shift+Print exec escrotum -s '%d-%m-%Y-%H-%M-%S_$wx$h_escrotum.png' -e 'mv $f ~/Pictures/Screenshots/'
bindsym --release Print exec escrotum '%d-%m-%Y-%H-%M-%S_$wx$h_escrotum.png' -e 'mv $f ~/Pictures/Screenshots/'
bindsym --release $mod+Print exec imgur-screenshot

# Scratchpad commands
bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

bindsym $mod+backslash exec keepassxc

bindsym $mod+o exec --no-startup-id i3-msg workspace number $($HOME/bin/i3-next-available-workspace.py)
bindsym $mod+Shift+o exec --no-startup-id i3-msg move window to workspace $($HOME/bin/i3-next-available-workspace.py) && i3-msg workspace number $_
