[Unit]
Description=Perform backup
StartLimitIntervalSec=3600
StartLimitBurst=5

[Service]
ExecStart=/bin/bash %h/bin/backup.sh
Restart=on-failure
RestartSec=600

[Install]
WantedBy=network-online.target
