[Unit]
Description=Backup timer

[Timer]
ExecStartPre=/bin/sleep 15m
Persistent=true
OnCalendar=daily
Unit=backup.service

[Install]
WantedBy=timers.target
