[Unit]
Description=Execute downloader

[Timer]
OnBootSec=6min
Persistent=true
OnCalendar=*-*-* 2,8,14,20:00:00
Unit=lockscreen.service

[Install]
WantedBy=timers.target
