[Unit]
Description=Mark windows with _NET_WM_STATE_SKIP_TASKBAR
After=graphical-session.target
Requires=graphical-session.target
ConditionPathExists=%h/go/bin/skipTaskbar
StartLimitIntervalSec=600
StartLimitBurst=20

[Service]
# Small delay to let i3 fully initialize windows
ExecStartPre=/usr/bin/sleep 2
ExecStart=%h/go/bin/skipTaskbar
StandardOutput=null
StandardError=journal

Restart=on-failure
RestartSec=5
TimeoutStopSec=1

[Install]
WantedBy=graphical-session.target
