# sync dependencies
chezmoi
paru
python
xdg-terminal-exec
yad
-zenity

# Bootstrap dotfiles
base-devel
git
go
pacman-contrib
pkgfile
pre-commit
shfmt

# Shell
zsh
zsh-autosuggestions
zsh-completions
zsh-history-substring-search
zsh-syntax-highlighting

# Utilities
atuin
bat
bc
btop
curl
entr
eza
fd
fzf
git-absorb
git-delta
git-filter-repo
github-cli
glow
-mdcat
htop
ipython
jq
moreutils
neovim
parallel
python-pipx
ripgrep
tig
tldr
tmux
trash-cli
tree
wget
yt-dlp
zoxide
inetutils  # hostname

# Archives
7zip
unrar
unzip
zip

# Dev toolchain
bear
ccache
clang
cmake
docker
npm
typescript

# Editor / language tooling
gopls
pyright
python-black
python-i3ipc
python-isort
rust-analyzer

# System / UI
adw-gtk-theme
blueman
bluez
bluez-utils
ddcutil
gnome-keyring
libnotify
mate-polkit
network-manager-applet
networkmanager
pamixer
pavucontrol
pipewire-pulse
playerctl
seahorse
wireless-regdb

# Apps
ghostty
-alacritty
evince
firefox
keepassxc
rofi
-wmenu
speedcrunch

# Yazi
baobab
ffmpegthumbnailer
mpv
ripdrag-git
-ueberzugpp

# Replaced or unused
-colordiff
-cbatticon
-materia-gtk-theme
-neofetch
-net-tools

{{ if .elastic -}}
aws-cli-v2
firejail
mage
rclone
restic
worktrunk
{{- end }}

{{ if .laptop -}}
brightnessctl:explicit
tlp
ufw
upower
{{ if eq .chezmoi.hostname "gili" -}}
thermald
{{- end }}
{{ if eq .chezmoi.hostname "carbon" -}}
-thermald  # ThinkPad DYTC/EC handles thermals; thermald refuses to start anyway.
{{- end }}
{{- end }}

{{ if not .laptop -}}
-thermald
-tlp
-ufw
-upower
-light
-brightnessctl
{{- end }}

{{ if .xorg -}}
alttab
asciidoc
cpanminus
dunst
gsimplecal
hacksaw
i3-git
i3blocks-gaps-git
i3lock
numlockx
perl-anyevent
shotgun
unclutter
xbindkeys
xclip
xdotool
xkb-switch
xmlto
xorg-server
xorg-setxkbmap
xorg-xbacklight
xorg-xinit
xorg-xprop
xorg-xrandr
xorg-xrdb

-ly
{{- end }}

{{ if .wayland -}}
-gammastep
grim
gtklock
-swaylock
imv
ironbar
-waybar
ly
slurp
sway
sway-contrib
swaybg
swayidle
swaync
swayosd
-dunst
wl-clipboard
wlsunset

-alttab
-asciidoc
-cpanminus
-gsimplecal
-hacksaw
-i3-git
-i3blocks-gaps-git
-i3lock
-light
-numlockx
-perl-anyevent
-shotgun
-unclutter
-xbindkeys
-xclip
-xdotool
-xkb-switch
-xmlto
-xorg-server
-xorg-setxkbmap
-xorg-xbacklight
-xorg-xinit
-xorg-xprop
-xorg-xrandr
-xorg-xrdb
{{- end }}
