[Desktop Entry]
Exec=GTK2_RC_FILES=/usr/share/gtk-2.0/gtkrc dbeaver
Type=Application
Terminal=false
Icon=dbeaver
Categories=Development;Java;

Name=DBeaver
GenericName=Database Client

